<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="server" value="cmaq" />
    <add key="base" value="FEcmaq" />
    <add key="user" value="sa" />
    <add key="pass" value="andale22" />

    <add key="company" value="NEUMA CENTER PERU S.A."/>
    <add key="dir" value="AV. INDUSTRIAL NRO. 260 TACNA -TACNA -TACNA"/>
    <add key="ubigeo" value="230101"/>
    <add key="ruc" value="20280062333"/>

    <add key="key1pass" value="1323"/>
   
    <add key="path_certificado" value="E:\NEUMA.pfx"/>
    <add key="path_xmlGEN" value="D:\PruebaFacturador\XML"/>
    <add key="path_zipGEN" value="D:\PruebaFacturador\ZIP"/>
    <add key="path_rptGEN" value="D:\PruebaFacturador\CDR"/>
    <add key="path_pdf" value="D:\PruebaFacturador\PDF"/>

    <!--<add key="path_firma" value="E:\sunat_archivos\sfs\FIRMA"/>
    <add key="path_data" value="E:\sunat_archivos\sfs\DATA"/>
    <add key="path_envio" value="E:\sunat_archivos\sfs\ENVIO"/>
    <add key="path_rpta" value="E:\sunat_archivos\sfs\RPTA"/>
    <add key="path_pdf" value="E:\sunat_archivos\sfs\REPO"/>
    <add key="path_pdfenvio" value="E:\sunat_archivos\sfs\PDF_ENVIO"/>
    <add key="path_facturdor" value="E:\sunat_archivos\sfs\DATA"/>
    <add key="path_logo" value="E:\sunat_archivos\sfs\LOGO\LogoFafio.png"/>-->
    
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BillServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService"
              binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
              contract="Beta1.billService" name="BillServicePort"/>
            <!--<headers>
              <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
                <wsse:UsernameToken>
                  <wsse:Username>20318171701MODDATOS</wsse:Username>
                  <wsse:Password>MODDATOS</wsse:Password>
                </wsse:UsernameToken>
              </wsse:Security>
            </headers>
          </endpoint>-->
        </client>
    </system.serviceModel>
</configuration>